div.container{
    display: flex;
    justify-content: space-between;
    /*margin-left: 440px;*/
    /*margin-right: 440px;*/
    background-color: #f5f5f5;
    padding: 25px 22px 25px 22px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (max-width: 900px) {
    div.container{
        flex-direction: column;
    }
}

div.inner-container {
    height: min-content;
    flex-grow: 0;
    width: 322px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    display: inline-block;
    margin-right: 10px;
}

@media only screen and (max-width: 900px) {
    div.inner-container {
        width: 100%;
    }
    .inner-container img{
        max-width: 500px !important;
        height: auto !important;
    }
}

div.inner-container-last {
    width: 322px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    display: inline-block;
}

div.inner-container-text{
    padding: 10px;
}